body{
  background-color: #9b9d9e;
}
img { pointer-events: none;
}
.background{

}

#left{
  background-image: url(img/background.png);
  position: fixed;
  height: 100%;
  width: 12%;
  left: 0;
  bottom: 0;
z-index: 1;
}
#right{
  background-image: url(img/background.png);
  position: fixed;
  height: 100%;
    width: 12%;
  right: 0;
  bottom: 0;
z-index: 1;
}

.all{
  z-index: 1;
margin: auto;
  position: absolute;
  width: 76%;
  height: 1300px;
  top: 0;
  left: 0;
  right: 0;

}
.left{
  background-image: url(img/hz2.png);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: white;
z-index: 3;
  position: fixed;
  border-right: 4px solid black;
  width: 120px;
  height: 100%;
}
.head{
  z-index:4;
  background: url(img/hz.png) ;
  background-repeat: repeat-x;
  background-color: white;
  border-bottom: 4px solid black;
  top:0;
  left: 0;
  position: fixed;
  width: 100%;
  border-radius: 0 0 60px 0px;



}
 #logo {

  border-right: 4px solid black;
  position: relative;
  width: 120px;
  height: 120px;
  margin-left: 12%;
  }
 #menu {
  border-left: 10px solid transparent;
  border-right:10px solid transparent;
  position: relative;
  margin-top: -136px;
  margin-left: 12%;
  height: 120px;
  width: 88%;
  font-size: 19px;

}
  #menu ul{

  margin-top: 16px;
  margin-left: 79px;
}
  #menu li{
    white-space: nowrap;
  border-right: 4px solid black;
  border-left: 4px solid black;
  text-align: center;
  margin-left:-1px;
  display: inline-block;
  width: 120px;
}
  #menu a{
  color: white;
  display: block;
text-decoration: none;
padding-top: 100px;


}
  #menu p{
  background-color: black;
  margin: 0;
  margin-left: -1px;
  padding: 0;
}
  #menu li:hover{
  background-color: black
}
   #a{
  background: url(img/home.png) no-repeat;
  background-position: center top;
}
   #a:hover{
  background: url(img/home2.png) no-repeat;
  background-position: center top;

}
   #b{
  background: url(img/block.png) no-repeat;
  background-position: center top;
  background-color: rgb(135,206,235,0.4);
}
   #b:hover{
  background: url(img/block2.png) no-repeat;
  background-position: center top;

}
   #c{
  background: url(img/info.png) no-repeat;
  background-position: center top;
}
   #c:hover{
  background: url(img/info2.png) no-repeat;
  background-position: center top;}
   #d{
    background: url(img/cont.png) no-repeat;
    background-position: center top;
  }
   #d:hover{
    background: url(img/cont2.png) no-repeat;
    background-position: center top;}










.content{
margin-top: 85px;
  height:1000px;
  margin-left: 120px;
  background-color: #9b9d9e;


}

#text p{
  font-size: 16px;
  text-align: center;
}
#zaglavie  h1{
  color: black;
  margin-left: 20px;
font-size: 50px;
}
#zaglavie hr{
  border-bottom: 3px solid black;
  margin-top: -30px;
  margin-bottom: 30px;
}
#zaglavie{
  margin-bottom: -10px;
background: rgba(255,255, 255, 0.5);
border-radius:40px 40px 0px 0px;
}
#text{
  border-radius:0px 0px 40px 40px;
background: rgba(255,255, 255, 0.5);
}
.content table{

  margin: auto;
  width: 90%;
}
.content tr{
  text-align: center;
  height: 200px;
  background-color:  rgba(0,0,0,0.8);
  color: white;

}
.content #up{
  font-size: 26px;
  text-align: center;
  height: 30px;
  background-color:  white;
  color: black;
  border: 0;
}
.content td{
  border: 5px solid black;
}
.content a:visited, a{
  color: white;

}
.content h2{
  white-space: inherit;
  color: #6E00FA;
}

#first {
  width: 20%;
}
#second{
  width: 70%;
}
#third{
  width: 10%;
}
